/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(/home/santosh/Documents/altCampus/SidPhotography/stylesheet/style.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  padding: 8rem 0;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* flex */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* header */
header {
  width: 100%;
  background-color: black;
  padding: 5rem 0;
}

.logo {
  width: 15rem;
}

nav {
  width: 100%;
  padding: 1rem 1.5rem;
}

.nav-ul {
  list-style: none;
}

.nav-ul li a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 0;
  margin-left: 3rem;
  color: white;
}

.nav-link, .current {
  position: relative;
}

.nav-link::before,
.current::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 50%;
  height: 2px;
  background-color: pink;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.current::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.hamburger, .close, .search {
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.search {
  font-size: 1.8rem;
}

.close {
  position: absolute;
  top: 70px;
  right: 0;
  padding: 1.5rem 3rem 0 0;
  display: none;
}

/* hero */
#intro {
  background-color: black;
  color: white;
  /*padding: 0; */
}

#intro .container {
  background: url(../assets/hero-pic2.jfif);
  background-repeat: no-repeat;
  background-size: cover;
}

.line {
  position: relative;
  padding-top: 3rem;
}

.intro-text {
  width: 80%;
  padding: 8rem 0;
}

.intro-text h1 {
  font-size: 8rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 5rem;
}

.btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  border: 2px solid #e9204f;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
}

.hero-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  row-gap: 2rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  z-index: 1;
}

.card {
  background-color: #222831;
  padding: 6rem 3rem;
  z-index: 1;
}

.card i {
  font-size: 4rem;
  color: #e9204f;
  padding-bottom: 3rem;
}

.heading-3 {
  font-size: 2.3rem;
  font-weight: 700;
}

.card h3 {
  padding-bottom: 4rem;
}

.card .line::before {
  top: 7rem;
}

.card:nth-child(3) {
  position: relative;
  background-color: #222831;
}

.card:nth-child(3)::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1.5rem;
  width: 105%;
  height: 7rem;
  background-color: #e9204f;
  z-index: 0;
}

.card:nth-child(3)::after {
  position: absolute;
  content: "";
  right: -5%;
  bottom: -1.5rem;
  width: 5%;
  height: 7rem;
  background-color: #e9204f;
}

.card:hover {
  background-color: #e9204f;
  color: white;
}

.card:hover i {
  color: white;
}

/* service section */
.heading > * {
  padding-bottom: 2rem;
}

.heading h2 {
  font-size: 5rem;
  font-weight: 700;
  margin-top: 4rem;
}

.heading p {
  font-size: 1.8rem;
  font-weight: 700;
  color: #e9204f;
}

.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  row-gap: 4rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  margin-top: 2rem;
}

.service {
  background-color: #eee;
  padding: 3rem 2rem;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.service i:first-child {
  color: #e9204f;
  font-size: 2rem;
}

.service:hover {
  background-color: #e9204f;
  color: white;
  cursor: pointer;
}

.service:hover i:first-child {
  color: white;
}

.h-line {
  position: relative;
}

.h-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 5rem;
  background-color: #e9204f;
}

/* about */
.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 1rem;
}

.image1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.image {
  position: relative;
  height: 100%;
  cursor: pointer;
}

.image img {
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.img::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.image-text {
  position: absolute;
  left: 1rem;
  bottom: 2rem;
  color: white;
  z-index: 11;
}

.image:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.about-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  row-gap: 4rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  margin-top: 2rem;
}

.about-text > * {
  padding: 0 1rem;
}

.about-text h3 {
  padding-bottom: 1rem;
}

.about-text p {
  color: #777;
}

/* blog */
#blog .heading {
  text-align: center;
}

.blog-item {
  text-align: center;
  position: relative;
  padding: 0 1rem;
  overflow: hidden;
}

.blog i {
  font-size: 1.4rem;
  padding-top: 1.5rem;
}

.blog-p {
  color: black;
}

.blog .blog-text {
  position: absolute;
  bottom: 1rem;
  color: white;
  z-index: 11;
  -webkit-transform: translateY(2.5rem);
          transform: translateY(2.5rem);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.blog-item:hover .blog-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.blog-item img {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.blog-item:hover img {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

/* contact section */
#contact {
  background-color: #222831;
  padding: 10rem 0;
}

.contact i {
  color: white;
  font-size: 2.5rem;
  border: 2px solid #e9204f;
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  text-align: center;
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact i:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.contact h2 {
  font-size: 5rem;
  font-weight: 700;
  color: white;
}

.wrapper {
  -webkit-box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
          box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper > * {
  padding: 1rem;
}

.contact-form {
  margin-top: 3rem;
}

.brand-c {
  font-size: 3rem;
  color: white;
  font-weight: 700;
  text-align: center;
}

.company-info {
  background-color: #c9e6ff;
}

.company-info h3, .company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
  font-size: 1.6rem;
}

.touch form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.touch form label {
  display: block;
  color: white;
}

.touch form p {
  margin: 0;
}

.touch form .full {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.c-info {
  font-size: 1.6rem;
}

.touch form button,
.touch form input {
  width: 90%;
  padding: 1em;
  border: 1px solid #c9e6ff;
}

.label {
  color: white;
}

.touch form textarea {
  width: 97%;
}

.touch form button {
  width: 97%;
}

.touch form button {
  background-color: #c9e6ff;
  border: 0;
  text-transform: uppercase;
}

.touch form button:hover, .touch form button:focus {
  background-color: #92bde7;
  color: #485e74;
}

footer {
  background-color: black;
  color: white;
  padding: 3rem 0;
  text-align: center;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.modal-content {
  width: 80%;
  max-width: 60rem;
  margin: 20% auto;
  padding: 2rem;
  position: relative;
  text-align: center;
  -webkit-animation: slide ease 1s;
          animation: slide ease 1s;
}

.modal-content .search {
  color: grey;
  font-size: 4rem;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(-30rem);
            transform: translateY(-30rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(-30rem);
            transform: translateY(-30rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.close-modal {
  position: absolute;
  top: 2rem;
  right: 3rem;
  color: white;
  font-size: 5rem;
  cursor: pointer;
}

.search-form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  padding: 1rem;
  color: grey;
  font-size: 5rem;
  position: relative;
  background-color: transparent;
}

::-webkit-input-placeholder {
  color: grey;
  font-size: 5rem;
  font-weight: 400;
}

:-ms-input-placeholder {
  color: grey;
  font-size: 5rem;
  font-weight: 400;
}

::-ms-input-placeholder {
  color: grey;
  font-size: 5rem;
  font-weight: 400;
}

::placeholder {
  color: grey;
  font-size: 5rem;
  font-weight: 400;
}

form i {
  position: absolute;
  right: 2rem;
  bottom: 3rem;
}
/*# sourceMappingURL=style.css.map */